<h2>Edit Historical Landmark</h2>
<form action="/landmarks/<%=@landmark.id%>" method="POST">
  <label for="landmark_name"><%=@landmark.name%></label>
  <input type="text" name="landmark[name]" id="name">

  <label for="year_completed"><%=@landmark.year_completed.to_s%></label>
  <input type="text" name="landmark[year_completed]" id="year_completed">
  <input type="submit" value="Edit Landmark">
</form>
<!-- add content here -->

<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>
