<h2>Create New Landmark</h2>

<form action="/landmarks" method="POST">
  <label for="landmark_name">Name</label>
  <input type="text" name="landmark[name]" id="landmark_name">

  <label for="year_completed">Year</label>
  <input type="text" name="landmark[year_completed]" id="landmark_year_completed">
  <input type="submit" value="Create New Landmark">

</form>
<!-- add content here -->

<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>
